$blue: #3f51b5;
$blue-1: #3c35a0;
$blue-2: #577bc1;
$blue-3: #a2dae0;
$blue-4: #d6f3eb;

$gray: #202020;
$white: #fff;

$blue-opacity: #rgba (2, 28, 189, 0.5);
$blue4-opacity: #rgba (214, 243, 235, 0.6);
